body {
	background-image: url("images/p.png");
    height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cccccc;

} 

#text5 {
	margin-top: 30px;
	margin-left: 450px;
	color: black;
}

#welc {
	color: black;
	font-weight: bold;
	font-size: 30px;
}


